.banner{
    position: relative;
    background: url('https://2.bp.blogspot.com/-9JSiSyOQ9bk/V--QFkqsDOI/AAAAAAAABWw/YeT0Ttsf5Dw-1qbLtXC5g8GlDIDTT0KPgCEw/s1600/What%2527s%2BNew%2BScooby-Doo-%252C%2BSeason%2B1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 180px;
    width: 100%;
    padding: 15px;


.info-banner{
    position: absolute;
    bottom: 15px;

}
}