<ion-header>
  <ion-toolbar color="danger">
    <ion-title>
      Scooby Doo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <div class="banner">
    <div class="info-banner">
      <ion-button color="danger" size="small">Assistir</ion-button>
    </div>
  </div>

  <br>
<ion-card color="dark">
  <h1>Sinopse</h1>
<p>Baseada no antigo desenho animado, Scooby-Doo, Where Are You!, a série é transmitida pelo Cartoon Network e "Kids' WB", no Brasil é de responsabilidade do Cartoon Network (desde 2003) e SBT (desde 2005) sendo exibida pelo tradicional programa Bom dia e Cia. Em Portugal, a série é transmitida pelo Panda Biggs desde 29 de Outubro de 2012.</p>
</ion-card>
  <ion-item color="dark">
    <ion-label>
      Avaliações
    </ion-label>
  <div slot="end" class="c100 p77 small green">
    <span>77%</span>
    <div class="slice">
      <div class="bar"></div>
      <div class="fill"></div>
    </div>
  </div>
</ion-item>

<br>

<ion-card>

  <ion-item color="dark">
    <h2>Elenco</h2>
  </ion-item>
  <ion-item color="dark">
    <ion-avatar slot="start">
      <img src="https://image.tmdb.org/t/p/w138_and_h175_face/b3gImArbw13mMKJIe9leFc9YYb7.jpg">
    </ion-avatar>
    <ion-label>Frank Welker</ion-label>
  </ion-item>

  <ion-item color="dark">
    <ion-avatar slot="start">
      <img src="https://image.tmdb.org/t/p/w138_and_h175_face/59kecPxxPIO8uwzaRZAOSDE1l80.jpg">
    </ion-avatar>
    <ion-label>Casey Kasem</ion-label>
  </ion-item>

  <ion-item color="dark">
    <ion-avatar slot="start">
      <img src="https://image.tmdb.org/t/p/w138_and_h175_face/f8wFQ9Ner4FxWLSncpni4w14w5B.jpg">
    </ion-avatar>
    <ion-label>Mindy Cohn</ion-label>
  </ion-item>

  <ion-item color="dark">
    <ion-avatar slot="start">
      <img src="https://image.tmdb.org/t/p/w138_and_h175_face/Abkz13gHDBDpqrPl2P51zUheVeE.jpg">
    </ion-avatar>
    <ion-label>Taylor Lautner</ion-label>
  </ion-item>

  <ion-item color="dark">
    <ion-avatar slot="start">
      <img src="https://image.tmdb.org/t/p/w138_and_h175_face/ghv7K8VWns2v0alIAtm1xRoWQUf.jpg">
    </ion-avatar>
    <ion-label>Grey DeLisle</ion-label>
  </ion-item>

  <ion-item color="dark">
    <ion-avatar slot="start">
      <img src="https://image.tmdb.org/t/p/w138_and_h175_face/AqjxoV14Jd3p5uvPsSPoAHmzQHI.jpg">
    </ion-avatar>
    <ion-label>Eddie Deezen</ion-label>
  </ion-item>

  <ion-item color="dark">
    <ion-avatar slot="start">
      <img src="https://image.tmdb.org/t/p/w138_and_h175_face/sSthBDGT8HBd2hXRNPymA6D0ov8.jpg">
    </ion-avatar>
    <ion-label>James Arnold Taylor</ion-label>
  </ion-item>

  <ion-item color="dark">
    <ion-avatar slot="start">
      <img src="https://image.tmdb.org/t/p/w138_and_h175_face/oNQCrdiSm0mABCcE5YaHwuZQK8X.jpg">
    </ion-avatar>
    <ion-label>Jennifer Hale</ion-label>
  </ion-item>
</ion-card>

<ion-slides>

  <ion-slide>
    <div class="slide">
      <img src="https://cdn.awsli.com.br/800x800/129/129579/produto/10885404/ca60248bb2.jpg"/>
    </div>
  </ion-slide>

  <ion-slide>
    <img src="https://images-blogger-opensocial.googleusercontent.com/gadgets/proxy?url=http%3A%2F%2Fimages.wikia.com%2Fscoobydoo%2Fpt-br%2Fimages%2F2%2F25%2FWallpapers_fred-jones_01_800.jpg&container=blogger&gadget=a&rewriteMime=image%2F*"/>
  </ion-slide>

  <ion-slide>
    <img src="https://cdn.awsli.com.br/800x800/129/129579/produto/10885408/4618f1fecb.jpg"/>
  </ion-slide>

  <ion-slide>
    <img src="https://http2.mlstatic.com/papel-de-arroz-scooby-dooh-D_NQ_NP_159421-MLB20798619518_072016-F.jpg"/>
  </ion-slide>

</ion-slides>

</ion-content>
