.banner{
    position: relative;
    background: url('https://4.bp.blogspot.com/-eAl303DFw4E/WjkyxPl4JBI/AAAAAAAAKec/iP01wRdkMu0TWmrR9-cbdotVBlg7JmUdwCLcBGAs/s1600/bbad_logo-min.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 180px;
    width: 100%;
    padding: 15px;


.info-banner{
    position: absolute;
    bottom: 15px;

}
}