<ion-header>
  <ion-toolbar color="danger">
    <ion-title>
      Ad Astra
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <div class="banner">
    <div class="info-banner">
      <p>2019 &nbsp;&nbsp; 2h 3m</p>
      <ion-button color="danger" size="small">Assistir</ion-button>
    </div>
  </div>

<br>

  <ion-item color="dark">
    <ion-label>
      Avaliações
    </ion-label>
  <div slot="end" class="c100 p60 small orange">
    <span>60%</span>
    <div class="slice">
      <div class="bar"></div>
      <div class="fill"></div>
    </div>
  </div>
</ion-item>

<br>

  <ion-item color="dark">
    <div>
      <h2>Sinopse</h2>
      <p>Roy McBride é um engenheiro espacial, portador de um leve grau de autismo, que decide empreender a maior jornada de sua vida: viajar para o espaço, cruzar a galáxia e tentar descobrir o que aconteceu com seu pai, um astronauta que se perdeu há vinte anos atrás no caminho para Netuno.</p>
    </div>
  
  </ion-item>

  <br>

<ion-card>
  <ion-item color="dark">
    <h2>Elenco</h2>
  </ion-item>
  <ion-item color="dark">
    <ion-avatar slot="start">
      <img src="https://image.tmdb.org/t/p/w138_and_h175_face/kU3B75TyRiCgE270EyZnHjfivoq.jpg">
    </ion-avatar>
    <ion-label>Brad Pitt</ion-label>
  </ion-item>

  <ion-item color="dark">
    <ion-avatar slot="start">
      <img src="https://image.tmdb.org/t/p/w138_and_h175_face/rdKKuq8zWCDYlKSxIfwGo2RUjpN.jpg">
    </ion-avatar>
    <ion-label>Tommy Lee Jones</ion-label>
  </ion-item>

  <ion-item color="dark">
    <ion-avatar slot="start">
      <img src="https://image.tmdb.org/t/p/w138_and_h175_face/aL4nmTVtQU2uQDNdBCarTy413CZ.jpg">
    </ion-avatar>
    <ion-label>Ruth Negga</ion-label>
  </ion-item>

  <ion-item color="dark">
    <ion-avatar slot="start">
      <img src="https://image.tmdb.org/t/p/w138_and_h175_face/o2SOFI53N6Gv5S3fDEBNbeimbzY.jpg">
    </ion-avatar>
    <ion-label>John Ortiz</ion-label>
  </ion-item>

  <ion-item color="dark">
    <ion-avatar slot="start">
      <img src="https://image.tmdb.org/t/p/w138_and_h175_face/jrOj6t9pH8TqO65pnsRuvRNhwqx.jpg">
    </ion-avatar>
    <ion-label>Liv Tyler</ion-label>
  </ion-item>

  <ion-item color="dark">
    <ion-avatar slot="start">
      <img src="https://image.tmdb.org/t/p/w138_and_h175_face/pvk7fjJNg9kZQTeuG6ZlfJ8t2Ze.jpg">
    </ion-avatar>
    <ion-label>Donald Sutherland</ion-label>
  </ion-item>

  <ion-item color="dark">
    <ion-avatar slot="start">
      <img src="https://image.tmdb.org/t/p/w138_and_h175_face/1I3SxKFvQSam6KOMT4j5f0nFxRg.jpg">
    </ion-avatar>
    <ion-label>Greg Bryk</ion-label>
  </ion-item>

  <ion-item color="dark">
    <ion-avatar slot="start">
      <img src="https://image.tmdb.org/t/p/w138_and_h175_face/zCYDwYJjrY4lpeueZYSzAXKLD5h.jpg">
    </ion-avatar>
    <ion-label>Loren Dean</ion-label>
  </ion-item>
  </ion-card>

</ion-content>
