<ion-header>
  <ion-toolbar color="danger">
    <ion-title>
      flash
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <div class="banner">
    <div class="info-banner">
      <ion-button color="danger" size="small">Assistir</ion-button>
    </div>
  </div>

<br>

    <ion-item color="dark">
      <ion-label>
        Avaliações
      </ion-label>
    <div slot="end" class="c100 p73 small green">
      <span>73%</span>
      <div class="slice">
        <div class="bar"></div>
        <div class="fill"></div>
      </div>
    </div>
  </ion-item>

<br>

    <ion-card>

      <ion-item color="dark">
        <h2>Elenco</h2>
      </ion-item>
      <ion-item color="dark">
        <ion-avatar slot="start">
          <img src="https://image.tmdb.org/t/p/w138_and_h175_face/kEGU1gGySIe63lyL7AnwXEw4rQn.jpg">
        </ion-avatar>
        <ion-label>Grant Gustin</ion-label>
      </ion-item>
    
      <ion-item color="dark">
        <ion-avatar slot="start">
          <img src="https://image.tmdb.org/t/p/w138_and_h175_face/t9YV7TTQXkDWLmoHx8Mu3OUHqsP.jpg">
        </ion-avatar>
        <ion-label>Candice Patton</ion-label>
      </ion-item>
    
      <ion-item color="dark">
        <ion-avatar slot="start">
          <img src="https://image.tmdb.org/t/p/w138_and_h175_face/uDQWtrmSPsNsm2DL3TMMiAtVoTq.jpg">
        </ion-avatar>
        <ion-label>Carlos Valdes</ion-label>
      </ion-item>
    
      <ion-item color="dark">
        <ion-avatar slot="start">
          <img src="https://image.tmdb.org/t/p/w138_and_h175_face/faX0EDc44GL5ZcsEcxTOBcfWpCP.jpg">
        </ion-avatar>
        <ion-label>Danielle Panabaker</ion-label>
      </ion-item>
    
      <ion-item color="dark">
        <ion-avatar slot="start">
          <img src="https://image.tmdb.org/t/p/w138_and_h175_face/iFkViDKW65daGl74VYK3FOvCLfZ.jpg">
        </ion-avatar>
        <ion-label>Tom Cavanagh</ion-label>
      </ion-item>
    
      <ion-item color="dark">
        <ion-avatar slot="start">
          <img src="https://image.tmdb.org/t/p/w138_and_h175_face/enyC1P8DQThh1huqFQlVfdRuji1.jpg">
        </ion-avatar>
        <ion-label>Jesse L. Martin</ion-label>
      </ion-item>
    
      <ion-item color="dark">
        <ion-avatar slot="start">
          <img src="https://image.tmdb.org/t/p/w138_and_h175_face/sXSSESVKLegcyZqFCZFNAS5uhpe.jpg">
        </ion-avatar>
        <ion-label>Hartley Sawyer</ion-label>
      </ion-item>
    
      <ion-item color="dark">
        <ion-avatar slot="start">
          <img src="https://image.tmdb.org/t/p/w138_and_h175_face/jUcFFKOiwQzqos9X9cHmSbPbRn2.jpg">
        </ion-avatar>
        <ion-label>Danielle Nicolet</ion-label>
      </ion-item>

      <ion-item color="dark">
        <ion-avatar slot="start">
          <img src="https://image.tmdb.org/t/p/w138_and_h175_face/gbRQ22Vg74HPWwXDbAlRkcSOVNR.jpg">
        </ion-avatar>
        <ion-label>Jessica Parker Kennedy</ion-label>
      </ion-item>
    </ion-card>

      <ion-slides>

        <ion-slide>
          <div class="slide">
            <img src="https://observatoriodeseries.uol.com.br/wp-content/uploads/2020/02/The-Flash-3.jpg"/>
          </div>
        </ion-slide>

        <ion-slide>
          <img src="https://miro.medium.com/max/1200/1*56Ew74FvVM90qAMXUlA8BA.png"/>
        </ion-slide>

        <ion-slide>
          <img src="https://spinoff.com.br/wp-content/uploads/The-Flash-2.jpg"/>
        </ion-slide>

        <ion-slide>
          <img src="https://br.web.img2.acsta.net/newsv7/20/04/06/17/33/2192906.jpg"/>
        </ion-slide>

      </ion-slides>
      

</ion-content>
