.banner{
    position: relative;
    background: url('https://cdn.ome.lt/G7OH7hYDt44PApT5dhjY3Zze6ws=/570x0/smart/uploads/conteudo/fotos/CAPA-the-flash.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 180px;
    width: 100%;
    padding: 15px;
    
    .info-banner{
        position: absolute;
        bottom: 15px;

}
}