.banner{
    position: relative;
    background: url('https://i.pinimg.com/originals/64/0d/89/640d898d3e37ac19a0061584a107c126.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 180px;
    width: 100%;
    padding: 15px;


.info-banner{
    position: absolute;
    bottom: 15px;

}
}